html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#app{
  position: relative;
  width: 750px;
  height: 100%;
  margin: 0 auto;
}
.container-box{
  position: relative;
  width: 750px;
}
.img-box{
  position: relative;
  width: 750px;
  min-height: 400px;
  box-sizing: border-box;
}
.img-box:not(:first-child){
  margin-top: -5px;
}
/* .img-box:last-child{
  padding-bottom: 300px;
} */
.img-box img{
  width: 100%;
}
.swipper-btn{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 660px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  /* background-color: aquamarine; */
}
.swipper-btn li{
  position: relative;
  width: 210px;
  height: 90px;
  background: #FFF6EA;
  border-radius: 20px;
  line-height: 90px;
  text-align: center;
  font-size: 34px;
  font-weight: 800;
  color: #773722;
  transition: all .3s;
}
.swipper-btn li.active{
  color: rgba(255,255,255,0.99);
  background: linear-gradient(12deg, #FF8000, #FF4A00);
}
.swipper-btn li.active:after{
  content: '';
  position: absolute;
  bottom: -19px;
  left: 0;
  right: 0;
  width: 40px;
  height: 20px;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #FF8000;
  border-bottom: 10px solid transparent;
}
.swipper{
  /* width 540  height 355 */
  --slide-width: 660px;
  --slide-height: 660px;
  position: absolute;
  bottom: 184px;
  left: 0;
  right: 0;
  width: var(--slide-width);
  margin: 0 auto;
}
.swiper-btn{
  position: absolute;
  top: calc((var(--slide-height) / 2) - 36px);
  width: 72px;
  height: 72px;
  z-index: 2;
}
.swiper-btn.right-btn{
  right: 0;
}
.swiper-dots{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
}
.swiper-dots .dot{
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #6660CD;
  border-radius: 5px;
  transition: .2s ease-in-out;
}
.swiper-dots .dot.active{
  width: 50px;
}
.swipper-box{
  width: var(--slide-width);
  height: var(--slide-height);
  margin: 0 auto;
  overflow: hidden;
}
.swipper-box ul {
  list-style: none;
  width: 1000%;
  margin: 0;
  padding: 0;
  overflow: auto;
  transform: translateX(-10%);
}
.swipper-box ul li{
  width: 10%;
  float: left;
}
.swipper-box ul li img{
  width: 100%;
  height: var(--slide-height);
}

.bottom-seat{
  width: 750px;
  height: 174px;
}
.bottom-btn{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 750px;
  height: 174px;
  margin: 0 auto;
  background: #FFFEFE;
}
.btn-box{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 750px;
  height: 174px;
  background-color: #fff;
  font-size: 30px;
}
.btn-box img{
  width: 360px;
  height: 130px;
}
.btn-box1{
  z-index: 2;
  animation: zIndex1 2s 1s infinite;
}
.btn-box2{
  z-index: 1;
  animation: zIndex2 2s 1s infinite;
}
@keyframes zIndex1 {
  from{
    z-index: 1;
  }
  to{
    z-index: 2;
  }
}
@keyframes zIndex2 {
  from{
    z-index: 2;
  }
  to{
    z-index: 1;
  }
}
.empty-btn{
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  width: 610px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50px;
  /* background-color: rgba(0,0,0,0.5); */
}
.empty-btn5{
  bottom: 35px;
}
.form-modal{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 750px;
  margin: 0 auto;
  z-index: 9;
  background: rgba(0,0,0,0.5);
}
.close-icon{
  position: absolute;
  top: -80px;
  right: 25px;
  width: 50px;
  height: 50px;
}
.form-box{
  flex-shrink: 0;
  position: relative;
  height: 1006px;
  width: 750px;
  background: url(../img/modal-bg.png) no-repeat center bottom / 100% 100%;
}
.select-box{
  position: absolute;
  left: 0;
  right: 0;
  top: 170px;
  width: 570px;
  height: 90px;
  margin: 0 auto;
  font-size: 32px;
}
.select-box input{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  font-size: 32px;
  background: transparent;
  /* background-color: wheat; */
}
.select-box input::-webkit-input-placeholder {
  color: #ccc;
}
.identity-box{
  top: 342px;
}
.phone-box{
  top: 487px;
  left: 70px;
  width: 490px;
  margin: 0 auto;
}
.code-box{
  top: 604px;
  left: -165px;
  width: 255px;
  margin: 0 auto;
}
.code-txt{
  position: absolute;
  top: 604px;
  left: 421px;
  width: 249px;
  height: 90px;
  line-height: 84px;
  text-align: center;
  font-size: 32px;
  color: #fff;
}
.form-submit-btn{
  position: absolute;
  top: 730px;
  left: 0;
  right: 0;
  width: 611px;
  height: 100px;
  margin: 0 auto;
}
.user-agreement{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 870px;
  left: 0;
  right: 0;
  width: 520px;
  /* height: 100px; */
  margin: 0 auto;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #999999;
}
.user-radio{
  position: relative;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #409EFF;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 50%;
}
.picker-modal{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2022;
  background: rgba(0,0,0,0.5);
}
.picker-modal ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
}
.picker-modal ul li{
  padding: 15px;
  font-size: 32px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.picker-modal ul li:first-child{
  font-weight: bold;
}
.picker-modal ul li:last-child{
  border: 0;
}
.result-modal{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2023;
  background: rgba(0,0,0,0.5);
}
.result-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  height: 490px;
  padding: 70px 0 40px;
  box-sizing: border-box;
  background: url(../img/result-dia.png) no-repeat center bottom / 100% auto;
}
.result-txt{
  padding: 80px 0 90px;
  font-size: 34px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #773722;
  text-align: center;
}
.result-btn{
  width: 626px;
  height: 110px;
  font-size: 45px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #FFFEFE;
  line-height: 100px;
  text-align: center;
  background: url(../img/btn-bg.png) no-repeat center center / 100% 100%;
}
.toast-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  background: rgba(0,0,0,0);
}
.toast-bar{
  padding: 10px 18px;
  font-size: 28px;
  color: #fff;
  border-radius: 5px;
}
.toast-success{
  background-color: #67c23a;
}
.toast-warning{
  background-color: #e6a23c;
}
.toast-error{
  background-color: #f56c6c;
}
.loading-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2024;
  background: rgba(0,0,0,0.5);
}
.loading-img{
  display: block;
  width: 100px;
  height: 100px;
  margin: 100px auto 40px;
  animation: rotate360 20s linear infinite;
}
.loading-txt{
  text-align: center;
  font-weight: bolder;
  font-size: 32px;
  color: #333;
}
@keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(3600deg);
  }
}
.timeout-txt{
  padding: 100px 0 50px;
}
.timeout_btn{
  display: block;
  width: 240px;
  height: 60px;
  margin: 0 auto;
  background: #EF7A48;
  border-radius: 30px;
  font-size: 28px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 60px;
  text-align: center;
  border: 0;
  outline: none;
}